#игнорируем файл Readme.txt
Readme.bmp

#не игнорировать файл help.bmp
!help.txt


#папку и все подпапки у неё
new/

#файл с расширением php
*.php


# всё что заканчивается с расширением от 0 до 9
*.[0-9] 




